*{
    margin: 0;
    padding: 0;
    /* background-color: #fff; */
}

body{
  overflow-x: hidden;
}

/* .navbar-nav{
    position: absolute;
    right: 30px;
}

.nav-ham{
    width: 100%;
    height: 80vh;
    display: flex;
    float: right;
    position: absolute;
    right:
    align-items: right;
    justify-content: right;
}

.menu-icon {
    display: grid;
    place-items: center;
    height: 25px;
    width: 30px;
    position: relative;
    cursor: pointer;
}
    span {
      width: 25px;
      height: 5px;
      background: orange;
      display: block;
      transition: all 0.3s ease-in-out;
    }
    
    .menu-icon:hover span:nth-child(1) {
      width: 20px;
    }
    
    .menu-icon:hover span:nth-child(2) {    
      width: 10px;
    }
    
    .menu-icon.active span:nth-child(1) {
      transform-origin: center center;
      transform: rotate(-45deg) translate(-1px, 11px);
      width: 25px;
    }
    
    .menu-icon.active span:nth-child(2) {
      transform: translateX(10px);
      opacity: 0;
    }
    
    .menu-icon.active span:nth-child(3) {
      transform-origin: center center;
      transform: rotate(45deg) translate(-1px, -10px);
      width: 25px;
    }
   
    .line-1 {
      width: 25px;
      justify-self: end;
    }
    
    .line-2 {
      width: 15px;
      justify-self: end;
    }

    .line-3 {
      width: 25px;
      justify-self: end;
    } */

  .bg-custom{
    /* background-image: linear-gradient(to bottom right, #eee, #aaa); */
    background-color: #fff;
  }

  .brand{
    margin-left: 50px;
  }

  nav{
  display: flex;
  background-color: #fff;
  /* padding: 20px 0; */
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 70px;
  align-items: center;
  color: #000;
  justify-content: space-between;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  }

  nav ul{
  list-style: none;
  width: 40%;
  justify-content: space-between;
  display: none;
  }

  nav ul li a{
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  font-size: 1em;
  }

  nav ul li a:hover{
  color: #fff;
  text-decoration: none;
  }

  .menu-toggle{
  margin-right: 50px;
  position: relative;
  display: flex;
  z-index: 1;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  }

  .menu-toggle input{
  position: absolute;
  width: 40px;
  height: 28px;
  left:-5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
  }

  .menu-toggle span{
  z-index: 1;
  display: block;
  width: 28px;
  height: 5px;
  background-color: orange;
  border-radius: 10px;
  transition: all 0.5s;
  }

  .menu-toggle span:nth-child(2){
  transform-origin: 0 0;
  }

  .menu-toggle span:nth-child(4){
  transform-origin: 0 100%;
  }

  .menu-toggle input:checked ~span:nth-child(2){
  background-color: red;
  transform: rotate(45deg) translate(-1px, -1px);
  }

  .menu-toggle input:checked ~span:nth-child(4){
  background-color: red;
  transform: rotate(-45deg) translate(-1px, 1px);
  }

  .menu-toggle input:checked ~span:nth-child(3){
  opacity: 0;
  transform: scale(0);
  }
  nav ul{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: #14229e;
    flex-direction: column;
    z-index: 1;
    display: flex;
    transform: translateY(-100%);
    transition: all 1s;
  }

  nav ul.slide{
    transform: translateY(0);
  }

  .jumbotron{
    background-color: #000b76;
    color: #fff;
  }
  .display-4{
    color: orange;
    text-transform: uppercase;
    font-weight: bold;
  }

  .footer{
    background-color:  #000b76;
    position: relative;
    bottom: 0;
    color: #fff;
  }

  /* slide show */

.slide_show{
  box-sizing: border-box;
}

.slide_show .container{
  position: relative;
}

.slide_show .container .pictures{
  position:relative;
  display: none;
}

.slide_show .container .pictures img{
  max-width:100%
}

.slide_show .prev, .slide_show .next{
  position:absolute;
  top:50%;
  cursor:pointer;
  width:auto;
  margin-top:-22px;
  padding:16px;
  color:white;
  font-weight:bold;
  font-size:18px;
  transition:0.6s ease;
  border-radius:0 3px 3px 0;
  user-select:none;
}

.slide_show .prev{
  left: 0;
}

.slide_show .prev:before{
  content:"\276E";
}

.slide_show .next:before{
  content:"\276f";
}

.slide_show .next{
  right:0;
  border-radius:3px 0 0 3px;
}

.slide_show .prev:hover,
.slide_show .next:hover {
  background-color:rgba(0,0,0,0.8);
}

.slide_show .button{
  text-align:center;
  padding:10px;
}

.slide_show .button .dot {
  cursor:pointer;
  height:15px;
  width:15px;
  margin:0 2px;
  background-color:#bbb;
  border-radius:50%;
  display:inline-block;
  transition:0.6s ease;
}

.slide_show .button .dot.active,
.slide_show .button .dot:hover {
  background-color: #717171;
}

#slideshow .gambar .image {
  -webkit-animation-name:image
  ;-webkit-animation-duration:1.5s;
  animation-name:image;
  animation-duration:1.5s;
}

@-webkit-keyframes image{
  from{opacity:.4}
  to{opacity:1}
}
@keyframes image{
  from {opacity:.4}
  to {opacity:1}
}